.header {
  position: absolute;
  top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  /* TODO: remove z-index */
  z-index: 10;
}

.littleLogo {
  width: auto;
  margin-right: 10px;
}

.footerButton {
  font-size: 12px;
  color: gray;
}
